body {
    margin: 0;
    padding: 0;
}

.navbar-color {
    background: #123a36;
    color: aliceblue;
}

.container a {
    color: rgb(48, 39, 45);
    text-decoration: none;
}

.nav-color {
    background: #494658e0;
}

.nav-color a {
    color: #fff;
}

.nav-name {
    color: #fff;

}



.body1 p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-top: 105px;
}

.body_part {
    background: #e4e8e7;
    text-align: center;
}

.body_part:hover {
    background: #415f57;
    color: #fff;
}

.title {
    background: #1c2f24;
    height: 150px;
    padding-top: 35px;
    padding-left: 55px;
    color: #fff;
    text-align: center;

}

.title h1 {
    font-size: 50px;
    font-weight: 800;

}


.container a {
    color:red;
}

.user_img {
    display: inline;
}

.time {
    font-size: 12px;
    padding-left: 10px;
    color: darkgoldenrod;
}
